@import "../../styles/variables.scss"

.Button
    border: none
    margin: 0
    padding: 0.7rem 1.3rem
    width: auto
    overflow: visible
    background: $blue
    color: $white
    font-family: $text
    font-size: 1rem
    line-height: 1.6rem
    border-radius: $borderRadius
    display: flex
    transition: all 0.2s linear

    &:hover
        box-shadow: 0 0 1rem rgba(0, 123, 255, 0.5) 

    &.small
        font-size: 0.92rem
        line-height: 1.5rem
        padding: 0.5rem 1rem

        i.mdi
            font-size: 14px
            margin-left: 0.3rem
            margin-right: -0.2rem

    &.large
        font-size: 1.2rem
        padding: 0.8rem 1.4rem

        i.mdi
            font-size: 22px
            margin-left: -0.5rem
            margin-right: 0.4rem

    span
        order: 2
        display: flex

    i.mdi
        font-size: 18px
        order: 1
        margin-right: 0.5rem
        margin-left: -0.2rem
        display: flex
        line-height: 24px

    i.mdi.right
        order: 3
        margin-left: 0.5rem
        margin-right: -0.2rem

    &.block
        display: flex
        width: 100%
        justify-content: center
