@import "../../styles/variables.scss"
    
.Card
    border-radius: $borderRadius
    max-width: 300px
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2)

    &.center
        text-align: center

        .Button
            margin: 0 auto

        .Card-avatar
            left: 50%
            transform: translate(-50%, -50%)

    &.withAvatar .Card-content
        padding-top: 3rem

    &-title
        padding: 1.6rem 2rem

        h2
            font-size: 1.3rem
            font-weight: 600
            margin-bottom: 0

    &-image
        width: 100%
        height: 12em
        background-size: cover
        background-position: center center
        border-radius: $borderRadius $borderRadius 0 0

    
    &.withTitle .Card-image
        border-radius: 0

    &-content
        padding: 2rem
        position: relative

    &-avatar
        position: absolute
        top: 0
        transform: translateY(-50%)
